# Top-level ignores
# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
# Virtual envs
venv/
env/
# SQLite DBs and env secrets
Backend/db.sqlite3
Backend/.env
.env
# Node modules
Frontend/node_modules/
# Editor files
.vscode/
.DS_Store